@charset "utf-8";

/*여백 초기화*/
body,div,ul,li,ol,dl,dt,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,
th,td,tr,textarea,button,form{margin: 0; padding: 0;}

/*a 링크 초기화*/
a{text-decoration: none; color: #222;}
a:hover{color: #390;}